FrontEnd/Solution/.vs/
FrontEnd/Solution/FrontEnd.API/bin/
FrontEnd/Solution/FrontEnd.API/obj/
FrontEnd/Solution/FrontEnd.W/bin/
FrontEnd/Solution/FrontEnd.W/obj/

Solution/.vs/
Solution/Solution.API.W/bin/
Solution/Solution.API.W/obj/
Solution/Solution.API/bin/
Solution/Solution.API/obj/
